.profile {
  /* background-color: #bde2cb; */
  /* height: 100vh; */
  color: #152c43;
  overflow: hidden;
}

.profileHeader {
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.profPic {
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 5px;
}

.username {
  font-size: 1.75rem;
  align-self: center;
}

.about {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.content {
  background-color: #f5f0ec;
  border-radius: 8px;
  border-style: solid;
  border-color: #152c43;
  border-width: 1px;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.content ul {
  margin-bottom: 0px;
}

.profPic {
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.interests {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.25rem;
}

.interestHeader {
  background-color: #ded0c2;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: #152c43;
  margin-top: 3px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 30px;
  padding-left: 15px;
  padding-top: 1%;
  padding-bottom: 1%;
}