.main {
    background: #bddac8;
    box-sizing: border-box;
    height: 100vh;
}

.signUpTitle {
    font-family: 'Odibee Sans';
    font-size: 150px;
    color: #152c43;
    text-align: center;
}

.signUpSubTitle {
    font-family: 'Mr Dafoe';
    font-size: 40px;
    color: #152c43;
    text-align: center;
}

#username {
    margin: 20px 200px 20px 200px;
    font-size: 30px;
}

#email {
    margin: 20px 200px 20px 200px;
    font-size: 30px;
}

#warning {
    text-align: center;
}

#password {
    margin: 20px 200px 20px 200px;
    font-size: 30px;
}

#inputUser {
    font-size: 20px;
}

#inputEmail {
    font-size: 20px;
}

#inputPassword {
    font-size: 20px;
}

#button {
    margin: 20px 200px 20px 200px;
}

