.main {
    background: #bddac8;
    height: 100vh;
}


.loginTitle {
    font-family: 'Odibee Sans';
    font-size: 200px;
    color: #152c43;
    text-align: center;
}

.loginSubTitle {
    font-family: 'Mr Dafoe';
    font-size: 50px;
    color: #152c43;
    text-align: center;
}

#loginEmail{
    margin: 20px 200px 20px 200px;
    font-size: 50px;
}

#loginPassword{
    margin: 20px 200px 20px 200px;
    font-size: 50px;
}

#inputUser {
    /* margin: 5px 0 0 200px; */
    font-size: 30px;
    margin: flex;
}

#inputPassword {
    /* margin: 5px 0 0 200px; */
    font-size: 30px;
    margin: flex;
}

#button {
    margin: 20px 200px 20px 200px; 
}
